<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<base th:href="${#request.getContextPath()}+'/'">
    <meta charset="utf-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="lib/layui/css/layui.css" media="all">
</head>
<body>



<form class="layui-form layui-form-pane" style="margin-top: 20px;margin-left: 30px">
   
   <div class="layui-form-item">
   	  <div class="layui-inline">
   		<label class="layui-form-label">渠道</label>
	    <div class="layui-input-inline">
	         <select name="channelId" lay-search="" lay-verify="required" lay-reqtext="渠道是必选项，岂能为空？" >
	             <option value=""></option>
	         </select>
	    </div>
	  </div>
   </div> 
    
  <div class="layui-form-item">
  	<div class="layui-inline">
 		<label class="layui-form-label">应用名称</label>
	    <div class="layui-input-inline">
	      <input type="text" name="appName" placeholder="请输入应用名称" autocomplete="off" class="layui-input" lay-verify="required" lay-reqtext="应用名称是必填项，岂能为空？">
	    </div>
  	</div>
  	<div class="layui-inline">
	    <label class="layui-form-label">设备数量</label>
	    <div class="layui-input-inline">
	      <input type="number" name="signDeviceNumber" placeholder="请输入签约设备数量" autocomplete="off" class="layui-input" lay-verify="required|integer" lay-reqtext="设备数量是必填项，岂能为空？">
	    </div>
    </div>
  </div>
  
  
  <div class="layui-form-item">
  	<div class="layui-inline">
	    <label class="layui-form-label">备注</label>
	    <div class="layui-input-inline" style="width: 515px;">
	      <textarea name="remark" class="layui-textarea"></textarea>
	    </div>
	</div>
  </div>
  
  
  <div class="layui-form-item">
    <div class="layui-input-block">
      <a class="layui-btn layui-btn-radius" lay-submit lay-filter="formSubmit">确认保存</a>
      <a class="layui-btn layui-btn-radius layui-btn-primary" id="cancel">关闭</a>
      <button class="layui-btn layui-btn-radius layui-btn-primary" type="reset" >重置</button>
    </div>
  </div>
</form>






<script type="text/javascript" th:inline="javascript">
	var initData = [[${info}]];
</script>
<script src="lib/layui/layui.all.js" charset="utf-8"></script>
<script src="lib/common.js" charset="utf-8"></script>
<script type="text/javascript" th:inline="none">
;!function(){
	
	var $ = layui.$,layer = layui.layer,table = layui.table,form=layui.form;
	
	load_channel();
	init_data();
	
	function init_data(){
		$('input[name="appName"]').val(initData.appName);
		$('input[name="signDeviceNumber"]').val(initData.signDeviceNumber);
		$('textarea[name="remark"]').val(initData.remark);
		form.render();
		if(!$.isEmptyObject(initData.appId)){
			$('button[type="reset"]').hide();
		}
	}
	
	form.verify({
        integer: [
            /^[1-9]\d*$/
            , '只能输入正整数'
        ]
      });
	
	//监听提交
    form.on('submit(formSubmit)', function (data) {
    	var array = new Array();
    	data.field['appId'] = initData.appId;
        $.ajax({
			url : 'openApp/saveApp',
			type : 'POST',
			contentType : 'application/json;charset=utf-8',
			dataType : 'json',
			data:JSON.stringify(data.field),
			success : function(res) {
				if(res.success){
					parent.layer.msg(res.msg,parent.layui.table.reload('tableData'));
					parent.layer.close(parent.layer.getFrameIndex(window.name));
				}
			}
		});
    });
	
	
    //监听关闭
    $(document).on('click','#cancel',function(){
    	parent.layer.close(parent.layer.getFrameIndex(window.name));
    });
    
    function load_channel(){
		$.ajax({
			url : 'channel/channelSelected',
			type : 'POST',
			contentType : 'application/json;charset=utf-8',
			dataType : 'json',
			data:JSON.stringify({'pageSize':100}),
			success : function(res) {
				if(res.success){
					$.each(res.data.list,function(i,x){
						var option = $('select[name="channelId"] option:first').clone(true);
						option.val(x.channelId);
						option.text(x.channelName);
						$('select[name="channelId"]').append(option);
					});
					$('select[name="channelId"]').val(initData.channelId);
					form.render();
				}
			}
		});
	}
	
	
}();
</script>
</body>
</html>
