<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath()}+'/'">
    <meta charset="utf-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="lib/layui/css/layui.css" media="all">
</head>
<body>

<fieldset class="layui-elem-field layuimini-search">
    <legend>搜索信息</legend>
    <div style="margin-left: 20px;margin-top: 10px">
        <form class="layui-form layui-form-pane" action="">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">用户ID</label>
                    <div class="layui-input-inline">
                        <input type="text" name="userId" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">内容ID</label>
                    <div class="layui-input-inline">
                        <input type="text" name="contentId" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">开始时间</label>
                    <div class="layui-input-inline">
                        <input type="text" name="dateTime" id="dateTime" autocomplete="off" class="layui-input"
                               placeholder="开始时间">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">锻炼类型</label>
                    <div class="layui-input-inline">
                        <select name="exerciseType" lay-search="">
                            <option value="">--请选择--</option>
                            <option value="0">眼保健操</option>
                            <option value="1">眼肌锻炼</option>
                            <option value="2">眼球放松</option>
                            <option value="3">新型眼操</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">持续时长</label>
                    <div class="layui-input-inline">
                        <input type="text" name="timeDuration" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-inline">
                <a class="layui-btn layui-btn-radius" lay-submit="" lay-filter="data-search-btn">修改</a>
                <button class="layui-btn layui-btn-radius layui-btn-primary" type="reset">重置</button>
            </div>
        </form>
    </div>
</fieldset>

<script type="text/javascript" th:inline="javascript">
    var initData = [[${info}]];
</script>


<script src="lib/jquery-3.4.1/jquery-3.4.1.min.js" charset="utf-8"></script>
<script src="lib/layui/layui.all.js" charset="utf-8"></script>
<script src="lib/common.js" charset="utf-8"></script>
<script type="text/javascript" th:inline="none">
    ;!function () {
        let $ = layui.$,
            layer = layui.layer,
            table = layui.table,
            form = layui.form,
            laydate = layui.laydate,
            upload = layui.upload;

        //日期
        laydate.render({
            elem: '#dateTime',
            type: 'datetime'
        });

        init();

        //监听修改操作
        form.on('submit(data-search-btn)', function (data) {
            data.field.exerciseId = initData.exerciseId;
            $.ajax({
                url : '/vision/exercise/updateVisionExercise',
                type : 'POST',
                contentType : 'application/json;charset=utf-8',
                dataType : 'json',
                data:JSON.stringify(data.field),
                success : function(res) {
                    if(res.success){
                        let index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        parent.layer.close(index);
                        parent.layer.msg(res.msg,{icon:1});
                        parent.layui.table.reload('tableData')
                    }
                }
            });
        });

        function init() {
            $('input[name="userId"]').val(initData.userId);
            $('input[name="contentId"]').val(initData.contentId);
            $('input[name="dateTime"]').val(initData.dateTime);
            $('select[name="exerciseType"]').val(initData.exerciseType);
            $('input[name="timeDuration"]').val(initData.timeDuration);
            form.render();
        }
    }();

</script>
</body>
</html>