<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<base th:href="${#request.getContextPath()}+'/'">
    <meta charset="utf-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="lib/layui/css/layui.css" media="all">
</head>
<body>

<blockquote class="layui-elem-quote layui-text">
    说明: 开放平台 "业务CDK" 是表示某一种业务来源于对接第三方,而第三方需要预先导入设备ID或者激活码 (SDK设备认证时会随机获取一个)
</blockquote>

<fieldset class="layui-elem-field layuimini-search">
    <legend>搜索信息</legend>
    <div style="margin-left: 20px;margin-top: 10px" >
        <form class="layui-form layui-form-pane" action="">
         	<div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">渠道</label>
                    <div class="layui-input-inline">
                        <select name="channelId" lay-filter="channelId" lay-search="">
				             <option value=""></option>
				         </select>
                    </div>
                </div>
           </div>
           <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">应用</label>
                    <div class="layui-input-inline">
                         <select name="appId" lay-filter="appId" lay-search="">
				             <option value=""></option>
				         </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">业务</label>
                    <div class="layui-input-inline">
                         <select name="openAppBusinessId" lay-filter="openAppBusinessId" lay-search="">
				             <option value=""></option>
				         </select>
                    </div>
                </div>
         	</div>
         	
         	<div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">cdk</label>
                    <div class="layui-input-inline">
                        <input type="text" name="cdk" autocomplete="off" class="layui-input" placeholder="CDK">
                    </div>
                </div>
         		<div class="layui-inline">
                    <label class="layui-form-label">设备ID</label>
                    <div class="layui-input-inline">
                        <input type="text" name="deviceId" autocomplete="off" class="layui-input" placeholder="设备ID">
                    </div>
                </div>
         	</div>
         	
           <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">开始时间</label>
                    <div class="layui-input-inline">
                        <input type="text" name="startTime" id="startTime" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">结束时间</label>
                    <div class="layui-input-inline">
                        <input type="text" name="endTime" id="endTime" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-inline">
                        <input type="text" name="remark" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <a class="layui-btn layui-btn-radius" lay-submit="" lay-filter="data-search-btn">搜索</a>
                    <button class="layui-btn layui-btn-radius layui-btn-primary" type="reset" >重置</button>
                </div>
           </div>
        </form>
    </div>
</fieldset>
<table class="layui-hide" id="tableData" lay-filter="tableData"></table>



<script type="text/html" id="tableToolbar">
  <div class="layui-btn-container">
    <button class="permission layui-hide layui-btn layui-btn-sm layui-btn-radius layui-btn-danger" lay-event="tableDataRemove" _permission="openAppBusinessCdk:remove">删除</button>
	<a class="layui-btn layui-btn-sm layui-btn-radius layui-btn-primary" href="template/应用业务CDK.xlsx">下载模板</a>
	<button class="permission layui-hide layui-btn layui-btn-sm layui-btn-radius" id="import" _permission="openAppBusinessCdk:import">导入</button>
  </div>
</script>


<script type="text/html" id="tableRowBar">
	<a class="permission layui-hide layui-btn layui-btn-xs layui-btn-radius data-count-edit" lay-event="tableRowEdit" _permission="openAppBusinessCdk:edit">编辑</a>
	<a class="permission layui-hide layui-btn layui-btn-xs layui-btn-radius layui-btn-danger data-count-delete" lay-event="tableRowRemove" _permission="openAppBusinessCdk:remove">删除</a>
</script>



<script src="lib/jquery-3.4.1/jquery-3.4.1.min.js" charset="utf-8"></script>
<script src="lib/layui/layui.all.js" charset="utf-8"></script>
<script src="lib/common.js" charset="utf-8"></script>
<script type="text/javascript" th:inline="none">
;!function(){
	
	var $ = layui.$,layer = layui.layer,table = layui.table,form=layui.form,laydate = layui.laydate,upload = layui.upload;
	
	//日期
    laydate.render({
        elem: '#startTime'
    });
    laydate.render({
        elem: '#endTime'
    });
	
	load_channel();
	
	//监听选中事件
	form.on('select(channelId)', function(){
		load_app();
	});
	
	//监听选中事件
	form.on('select(appId)', function(){
		load_appBusiness();
	});
	
	table.render({
	    elem: '#tableData'
	    ,method:'post'
	    ,contentType:'application/json;charset=utf-8'
	    ,url:'openAppBusinessCdk/appBusinessCdkList'
		,height: 550
	    ,cols: [[
	    	{type: 'checkbox', fixed: 'left'}
	      ,{type: 'numbers',fixed: 'left'}
	      ,{field:'openAppBusinessCdkId', title:'主键',hide:true}
	      ,{field:'cdk', title:'cdk',width:150}
	      ,{field:'useStatus', title:'使用状态',width:100,templet:function(d){
	    	  return '<span style="color:'+(d.useStatus?"#5FB878":"")+'">'+(d.useStatus?'已使用':'未使用')+'</span>';
	      }}
	      ,{field:'deviceId', title:'设备ID',width:170}
	      ,{field:'businessName', title:'业务名称',width:150}
	      ,{field:'appName', title:'应用名称',width:150}
	      ,{field:'channelName', title:'渠道',width:150}
	      ,{field:'remark', title:'备注'}
	      ,{field:'createTime', title:'创建时间',width:160}
	      ,{field:'updateTime', title:'修改时间',width:160}
	      ,{title: '操作',width:160, fixed: "right", align: "center", templet: '#tableRowBar'}
	    ]]
    	,request: {
    	    pageName: 'pageNum' //页码的参数名称，默认：page
    	    ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
    	  }
	    ,response: {
	      statusCode: 200 //重新规定成功的状态码为 200，table 组件默认为 0
	    }
	    ,parseData: function(res){ //将原始数据解析成 table 组件所规定的数据
	    	if(res.success){
		      return {
		        "code": res.code, //解析接口状态
		        "msg": res.msg, //解析提示文本
		        "count": res.data.total, //解析数据长度
		        "data": res.data.list //解析数据列表
		      };
	    	}
	    }
	    ,page: true
	    ,toolbar: '#tableToolbar' //开启头部工具栏，并为其绑定左侧模板
    	,done:function(res, curr, count){
    		importRender();
	    	permission();
	    }
	  });
	
	function importRender(){
		upload.render({
  		    elem: '#import'
  		    ,url: 'openAppBusinessCdk/importAppBusinessCdk'
  		    ,accept: 'file' //普通文件
  		    ,done: function(res){
  		    	if(res.success){
  		    		var str = "";
  		    		str += "总条数:"+res.data.totalCount;
  		    		str += "<br/>"
  		    		str += "成功数:"+res.data.successCount;
  		    		str += "<br/>"
  		    		str += "失败数:"+res.data.failCount;
  		    		str += "<br/>";
  		    		str += "错误信息:";
  		    		var fails = '';
  		    		$.each(res.data.fails,function(i,x){
  		    			fails += "<br>第"+x.row+"行 "+ x.msg;
  		    		})
  			    	layer.alert(str+fails);
  		    		table.reload('tableData');
  		    	}
  		    }
  		});
	}
	
	  //监听搜索操作
      form.on('submit(data-search-btn)', function (data) {
          //执行搜索重载
          table.reload('tableData', {
              page: {curr: 1}
              , where: data.field
          }, 'data');
      });
	  
	  
      //头工具栏事件
      table.on('toolbar(tableData)', function(obj){
        var checkStatus = table.checkStatus(obj.config.id);
        var data = checkStatus.data;
        switch(obj.event){
          case 'tableDataAdd':
        	  openIframeEdit('添加');
          break;
          case 'tableDataRemove':
        	  removeTableRow(data);
          break;
        };
      });
      
      //监听表格行操作事件
      table.on('tool(tableData)', function (obj) {
          var data = obj.data;
          switch(obj.event){
	          case 'tableRowEdit':
	        	  openIframeEdit('修改',data.openAppBusinessCdkId);
	          break;
	          case 'tableRowRemove':
	        	  removeTableRow(new Array(data));
	          break;
	      };
      });
	
      
      function openIframeEdit(title,openAppBusinessCdkId){
    	  openIframe(title,'openAppBusinessCdk/editPage?',openAppBusinessCdkId)
      }
      
      function openIframe(title,url,openAppBusinessCdkId){
    	  var param = '';
    	  if(!$.isEmptyObject(openAppBusinessCdkId)){
    		  param += 'openAppBusinessCdkId='+openAppBusinessCdkId; 
    	  }
    	  layer.open({
	   		  	type: 2, 
	   		  	title: title+'应用信息',
	   		  	content: [url+param,'no'],//no没有滚动条
		   		shade: 0.5,
		        maxmin: true, //开启最大化最小化按钮
		        area: ['730px', '290px']
	   		});
      }
      
      
      function removeTableRow(data){
    	  if(data.length<1){
    		  layer.msg('请选择您要删除的数据');
    		  return;
    	  }
    	  layer.prompt({title: '输入口令，并确认', formType: 2}, function(pass, index){
    		  if(pass!=confirmPwd()) {
    			  return layer.msg('口令不正确');
    		  }layer.close(index);
	    	  layer.confirm('确定要删除吗?',function(){
		    	  $.ajax({
		    			url : 'openAppBusinessCdk/removeAppBusinessCdk',
		    			type : 'POST',
		    			contentType : 'application/json;charset=utf-8',
		    			dataType : 'json',
		    			data:JSON.stringify(data),
		    			success : function(res) {
		    				if(res.success){
			    				layer.msg(res.msg,table.reload('tableData'));	    					
		    				}
		    			}
		    		});
	    	  });
    	  });
      }
      

      function load_channel(){
  		$.ajax({
  			url : 'channel/channelSelected',
  			type : 'POST',
  			contentType : 'application/json;charset=utf-8',
  			dataType : 'json',
  			data:JSON.stringify({'pageSize':100}),
  			success : function(res) {
  				if(res.success){
  					$.each(res.data.list,function(i,x){
  						var option = $('select[name="channelId"] option:first').clone(true);
  						option.val(x.channelId);
  						option.text(x.channelName);
  						$('select[name="channelId"]').append(option);
  					});
  					form.render();
  					load_app();
  				}
  			}
  		});
  	}
  	
  	
  	function load_app(){
  		var channelId = $('select[name="channelId"]').val();
  		$.ajax({
  			url : 'openApp/channelAppSelected',
  			type : 'POST',
  			contentType : 'application/json;charset=utf-8',
  			dataType : 'json',
  			data:JSON.stringify({'channelId':channelId}),
  			success : function(res) {
  				$('select[name="appId"] option:first').nextAll().remove();
  				if(res.success){
  					$.each(res.data,function(i,x){
  						var option = $('select[name="appId"] option:first').clone(true);
  						option.val(x.appId);
  						option.text(x.appName);
  						$('select[name="appId"]').append(option);
  					});
  					form.render();
  					load_appBusiness();
  				}
  			}
  		});
  	}
  	
  	function load_appBusiness(){
  		var appId = $('select[name="appId"]').val();
  		$.ajax({
  			url : 'openAppBusiness/appBusinessSelected',
  			type : 'POST',
  			contentType : 'application/json;charset=utf-8',
  			dataType : 'json',
  			data:JSON.stringify({'appId':appId}),
  			success : function(res) {
  				$('select[name="openAppBusinessId"] option:first').nextAll().remove();
  				if(res.success){
  					$.each(res.data,function(i,x){
  						var option = $('select[name="openAppBusinessId"] option:first').clone(true);
  						option.val(x.openAppBusinessId);
  						option.text(x.businessName);
  						$('select[name="openAppBusinessId"]').append(option);
  					});
  					form.render();
  				}
  			}
  		});
  	}
	
}();
</script>
</body>
</html>
