<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<base th:href="${#request.getContextPath()}+'/'">
    <meta charset="utf-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="lib/zTree_v3/css/demo.css" type="text/css">
    <link rel="stylesheet" href="lib/zTree_v3/css/metroStyle/metroStyle.css" type="text/css">
    <style type="text/css">
    	a{text-decoration:inherit;}
	</style>
</head>
<body>



<form class="layui-form layui-form-pane" style="margin-top: 20px;margin-left: 30px">
    
  <div class="layui-form-item">
	 	<div class="layui-inline">
	 		<label class="layui-form-label">角色名称</label>
		    <div class="layui-input-inline">
		      <input type="text" name="roleName" autocomplete="off" class="layui-input">
		    </div>
	  	</div>
	  	<div class="layui-inline">
		    <label class="layui-form-label">角色类型</label>
		    <div class="layui-input-inline">
		         <select name="roleType" lay-search="" lay-verify="required" lay-reqtext="角色类型是必选项，岂能为空？" >
		             <option value=""></option>
		             <option value="ADMIN">平台</option>
		             <option value="CHANNEL">渠道</option>
		         </select>
		    </div>
	    </div>
  </div>
  
  <div class="layui-form-item">
  	<div class="layui-inline">
	    <label class="layui-form-label">备注</label>
	    <div class="layui-input-inline" style="width: 515px;">
	      <textarea name="remark" class="layui-textarea"></textarea>
	    </div>
	</div>
  </div>
  
  <div class="layui-form-item">
  	<div class="layui-inline">
	    <label class="layui-form-label">权限配置</label>
	    <div class="layui-input-inline">
	     	<ul id="treeDemo" class="ztree" style="width:505px;height:380px;margin-top: 0px"></ul>
	    </div>
	</div>
  </div>
  
  
  <div class="layui-form-item">
    <div class="layui-input-block">
      <a class="layui-btn layui-btn-radius" lay-submit lay-filter="formSubmit">确认保存</a>
      <a class="layui-btn layui-btn-radius layui-btn-primary" id="cancel">关闭</a>
      <button class="layui-btn layui-btn-radius layui-btn-primary" type="reset" >重置</button>
    </div>
  </div>
</form>






<script type="text/javascript" th:inline="javascript">
	var initData = [[${info}]];
</script>
<script src="lib/layui/layui.all.js" charset="utf-8"></script>
<script src="lib/zTree_v3/js/jquery-1.4.4.min.js" charset="utf-8"></script>
<script src="lib/zTree_v3/js/jquery.ztree.all.min.js" charset="utf-8"></script>
<script src="lib/common.js" charset="utf-8"></script>
<script type="text/javascript" th:inline="javascript">
;!function(){
	
	var $ = layui.$,layer = layui.layer,table = layui.table,form=layui.form,laydate = layui.laydate;
	
	init_data();
	
	function init_data(){
		$('input[name="roleName"]').val(initData.roleName);
		$('select[name="roleType"]').val(initData.roleType);
		$('textarea[name="remark"]').val(initData.remark);
		form.render();
		if(!$.isEmptyObject(initData.roleId)){
			$('button[type="reset"]').hide();
		}
	}
	
	//监听提交
    form.on('submit(formSubmit)', function (data) {
    	var array = new Array();
    	$.each(zTree.getCheckedNodes(true),function(i,o){
    		array.push(o.id);
    	});
    	data.field['permissionList'] = array;
    	data.field['roleId'] = initData.roleId;
        $.ajax({
			url : 'role/saveRole',
			type : 'POST',
			contentType : 'application/json;charset=utf-8',
			dataType : 'json',
			data:JSON.stringify(data.field),
			success : function(res) {
				if(res.success){
					parent.layer.msg(res.msg,parent.layui.table.reload('tableData'));
					parent.layer.close(parent.layer.getFrameIndex(window.name));
				}
			}
		});
    });
	
	
    //监听关闭
    $(document).on('click','#cancel',function(){
    	parent.layer.close(parent.layer.getFrameIndex(window.name));
    });
	
}();










var setting = {
	async: {
		enable: true,
		contentType:'application/json;charset=utf-8',
		dataType:'json',
		url:"permission/permissionTree",
		otherParam:{"roleId":initData.roleId},
		dataFilter:dataFilter
	},
	check: {
		enable: true
	},
	data: {
		key:{
			name:"name"
		},
		simpleData: {
			enable: true,
			idKey: "id",
			pIdKey: "pId"
		}
	},
	callback: {
		onAsyncSuccess:onAsyncSuccess,
		onCheck:onCheck
	}
};

function onCheck(event, treeId, treeNode){
	
}

function onAsyncSuccess(){
	zTree.expandAll(true);
	/**
	if(!$.isEmptyObject(initData.businessAppIds)){
		var businessAppIds = initData.businessAppIds.split(',');
		$.each(businessAppIds,function(i,o){
			var treeNode = zTree.getNodesByParam("id", o, null)[0];
			zTree.checkNode(treeNode, true, false);
		})
	}
	*/
}

function dataFilter(treeId, parentNode, responseData){
	if(responseData.success){
		return responseData.data;
	}else{
		return null;
	}
}

var zTree;
$(document).ready(function(){
	zTree = $.fn.zTree.init($("#treeDemo"), setting);
});










</script>
</body>
</html>
